# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Shockingly-Efficient-Csharp-Utility.iml
# Datasource local storage ignored files
/../../../../../../../:\Projet-code\projet-S2\Shockingly-Efficient-Csharp-Utility\.idea\.idea.Shockingly-Efficient-Csharp-Utility.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
